button {
  background-color: #ff6464;
  border: 1px solid #ff6464;
  height: 2.5em;
  width: 10em;
  color: white;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  background-color: #f78282;
  border: 1px solid #f78282;
}

button:active {
  background-color: #21243d;
  border: 1px solid #21243d;
}
